body {
    line-height: 1.2em;
 }
 
 ul, ol {
    list-style: none;
 }
 
 nav ul {
    list-style: none;
    list-style-image: none;
 }
 
 nav a {
    text-decoration: none;
 }
 
 html {
    background: rgb(191, 191, 191);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
 }
 
 body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;   
    background: white;
    max-width: 1024px;
    min-width: 420px;
    margin: 0px auto;
    box-shadow: rgb(51, 51, 51) 10px 10px 25px,  rgb(51, 51, 51) -10px 10px 25px;
 }
 
 p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 15px;
 }
 
 
 /* Header Styles */
 
 body > header {
    background: url(pc_logo.png) center/cover no-repeat;
    width: 100%;
 }
 
 body > header > h1 {
    height: 150px;
    text-align: right;
    padding: 100px 20px 0px 0px;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 3.5em;
    font-weight: bold;
    color: rgb(71, 71, 191);
    text-shadow: rgb(237, 237, 134) 0px 0px 1px,
                 rgb(237, 237, 134) 0px 0px 2px,
                 rgb(237, 237, 134) 0px 0px 5px,
                 rgb(237, 237, 134) 0px 0px 8px,                 
                 rgb(237, 237, 134) 0px 0px 10px,
                 rgb(237, 237, 134) 0px 0px 15px,
                 rgb(237, 237, 134) 0px 0px 20px,
                 rgb(237, 237, 134) 0px 0px 30px;                
 }
 
 
 /* Top Navigation Styles */
 
 nav#top ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: rgb(71, 71, 191);
    height: 50px;
 }
    
 nav#top ul li {
    -webkit-flex: 0 1 80px;
    flex: 0 1 80px;   
    margin: 10px;
 }
 
 nav#top ul li a {
    color: white;
    display: block;
    font-size: 1.2em;
    text-align: center;
    padding: 50% 0%;
    font-variant: small-caps;
 }
 
 nav#top ul li a:hover, nav#top ul li a:active {
    text-shadow: 0px 0px 5px black;
    color: rgb(255, 255, 211);
 }
 
 
 



 .crossword td {
   outline:0px dashed rgba(255,255,255,0.1);
   padding:0px;
   margin:0px;
   border: 0px;
   vertical-align:middle;
   text-align:center;
   width:28px;
   height:28px;
   color: rgba(255,255,255,0.9);
   background: rgba(0,0,0,0.6);
}


.crossword td.highlighted {
 background-color:black;
}







#crossword{
    font-size: 1.4em;
    border: 1px solid rgb(101, 101, 101);
    box-shadow: rgb(51, 51, 51) 5px 5px 15px, rgb(51, 51, 51) -5px -5px 15px;
    border-collapse: collapse;
    color: rgb(101, 101, 101);
    margin: 20px;
}
#Clues{
    position: relative;
    
}
aside div {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; 
    width: 100%;
 }
 
 aside div section {
    -webkit-flex: 1 1 200px;
    flex: 1 1 200px;
 }
 
 ol#across, ol#down {
    list-style-type: decimal;
    margin-left: 40px;
    line-height: 1.5em;
    font-size: 1em;
    margin-bottom: 30px;
 }
 aside {
    background-color: rgb(255, 255, 181);
    color: rgb(96, 96, 28);   
    -webkit-flex: 1 1 300px;
    flex: 1 1 300px; 
    padding: 0px 30px 0px 0px; 
 }
 
 aside h1 {
    font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;   
    font-size: 2.6em;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    margin: 20px 0px 25px;
    width: 100%;
 }
 
 aside h2 {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 15px;
    width: 100%;
 }